.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.tabs{
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 0px;
    background-color: #4E4E75;
    border-radius: 100px;
    width: fit-content;
}

.button{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #161622;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    width: 90px;
}

.unselected{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
    background-color: #4E4E75;
    border: none;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    width: 90px;
}

.value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 34px;
    color: #FFFFFF;
    background-color: #4E4E75;
    border: none;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
}